#login-form {
  width: 60%;
  margin: 0 auto;
  //padding-top: 40px;

  fetch-club-logo {
  	position: relative;
    padding-top: 10px;
    width: 300px;
    margin: 0 auto;
    z-index: 100;
  }

  .login{
  	padding-top: 30px;
  }
}